<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg m-b-lg">
                        <h1>
                            <%= title %>

                        </h1>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Panel example</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link" href="">
                                    <i class="fa fa-chevron-up"></i>
                                </a>

                                <a class="close-link" href="">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
<% for(var i=0; i<urls[i].length;i++) { %>
                          <% if(urls[i].preguntas.length>0) { %>
                            <table class="table table-striped">
                                <thead>
                                <tr>

                                    <th>Question</th>
                                    <th>Answer</th>
                                </tr>
                                </thead>
                                <tbody>

                                <% for(var i=0; i<urls[i].preguntas.length;i++) { %>
                                    <tr>

                                        <td><%= urls[i].preguntas.question%></td>
                                        <% if(urls[i].preguntas.answer == NO) { %>
                                        <td style="color:red"><%= urls[i].preguntas.answer%></td>
                                        <% } else { %>
                                            <td style="color:green"><%= urls[i].preguntas.answer%></td>
                                        <% } %>

                                    </tr>
                                 <% } %>
                                </tbody>
                            </table>
                            <% } else { %>
                                <div>No Urls found.</div>
                            <% } %>
                          <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Table example</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link" href="">
                                    <i class="fa fa-chevron-up"></i>
                                </a>

                                <a class="close-link" href="">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                              <% if(urls.length>0) { %>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th># </th>
                                        <th>Url </th>
                                        <th>Status</th>
                                        <th>Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <% for(var i=0; i<urls.length;i++) { %>
                                        <tr>
                                            <td>Nro. <%= i%></td>
                                            <td><%= urls[i].urlcontent%></td>
                                            <% if(urls[i].status == 0) { %>
                                            <td style="color:red">Sin auditar</td>
                                            <% } else { %>
                                                <td style="color:green">Auditado</td>
                                            <% } %>
                                            <td>
                                              <a id ="q_url_"+"<%= urls[i]._id%>"class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                  <i class="far fa-eye"></i>
                                              </a>
                                          </td>
                                        </tr>
                                     <% } %>
                                    </tbody>
                                </table>
                                <% } else { %>
                                    <div>No Urls found.</div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
